*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

.sidebar{
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.sidebar > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
}

.sidebar h1{
    margin-top: -30px;
    margin-bottom: 10px;
    font-size: 40px;
}

.main-slide{
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0;
    left: 35%;
    transition: transform 0.5s ease-in-out;
}

.main-slide > div{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}

button{
    background-color: aliceblue;
    border: none;
    color: cadetblue;
    font-size: 16px;
    padding: 15px;
    cursor: pointer;
}

button:hover{
    color: #222;
}

button:focus{
    outline: none;
}

.container .controls button{
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100%;
}

.container .controls .down-button{
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container .controls .up-button{
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}











